body {
  padding-top: 51px;  
}
a{
    cursor:pointer;
}

.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}
.page-header{
    text-align: center;
}
.banner{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

#GMstory, .playerEntry, #Notes, #Equipment {
    width: 100%;
    height: 30em;
    padding: 0.5em 1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1em;
    overflow:auto;
}

.playerEntry{
    margin-bottom: 1em;
}

#Notes, .playerEntry, #Equipment{
    height:14em;
}


#sidebarBlank{
    height: 30em;
}
/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

