<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>GamePage</title>
<script src="jquery-2.1.4.js"></script>
    <script src="angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="./Scripts/configs/routeConfig.js"></script>
    <script src="./Scripts/services/gameLoadService.js"></script>
    <script src="./Scripts/services/sessionService.js"></script>
    <script src="./Scripts/controllers/homeCtrl.js"></script>
    <script src="./Scripts/controllers/gameCtrl.js"></script>
    <script src="./Scripts/controllers/userCtrl.js"></script>
    <script src="./Scripts/RPproject.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./Content/Style/RPproject.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="page-container" id="myPageContainer" ng-controller="userCtrlr">
        <!-- top navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Role With It</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-hide="loggedIn">
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
                            <ul class="dropdown-menu" id="loginMenu">
                                <li><input type="text" placeholder="Username" ng-model="user.name" /></li>
                                <li><input type="password" placeholder="Password" ng-model="user.pw" /></li>
                                <li>
                                    <button ng-click="createNewUser()">Sign Up</button>
                                    <button ng-click="loginUser()">Log In</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="loggedIn">
                        <li class="nav navbar-text">Logged in as:</li>
                        <li class ="nav navbar-text">{{activeUser.username}}</li>
                        <li class="nav navbar-nav"><a ng-click="logoutUser()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div ng-view>

        </div>
    </div>
</body>
</html>